/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

.enemy {
  fill: steelblue;
}

.player {
  fill: red;
}

.playing-field {
  border: 3px solid black;
  width: 1000px;
}

