
/*http://www.1001fonts.com/neuropol-x-free-font.html*/
@font-face {
  font-family: neuropol;
  src: url(lib/neuropol.ttf);
}

body {
    font-family: neuropol;
    color: green;
    font-size: 22px;
}

.flash {
  color: red;
  transition: color .35s;
}

.unflash {
  color: green;
  transition: color 4.75s;
}

.dotUnflash {
  color: orange;
  transition: color 3.75s;
}

.enemy {
  fill: steelblue;}

.player {
  fill: orange;
}

.playing-field {
  border: 3px solid purple;
  width: 1000px;
  height: 500px;
}